
<section id="5G">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading"><font face="">parversive Computing & Move to 5G!</font></h1>
                 
                         <h2><font color="red">Move To 5G </font></h2>
     The first mobile systems were based on analogue transmission. They had a low traffic density of 5th generation mobile networks or 5th generation wireless systems, abbreviated 5G, are the proposed next telecommunications standards beyond the current 4G/IMT Advanced standards.[ International Telecommunications Union]
<br><br>5G planning aims at higher capacity than current 4G, allowing a higher density of mobile broadband users, and supporting device-to-device, ultra reliable, and massive machine communications [ IEEE Communications Magazine]
5G research and development also aims at lower latency than 4G equipment and lower battery consumption, for better implementation of the Internet of things
<h3>The Next Generation Mobile Networks Alliance defines the following requirements that a 5G standard should fulfill:</h3>
<ul>
 <li>Data rates of tens of megabits per second for tens of thousands of users
<li>Data rates of 100 megabits per second for metropolitan areas
<li>1 Gb per second simultaneously to many workers on the same office floor
<li>Several hundreds of thousands of simultaneous connections for wireless sensors
<li>Spectral efficiency significantly enhanced compared to 4G
<li>Coverage improved
<li>Signalling efficiency enhanced
<li>Latency reduced significantly compared to LTE.
    </ul>
<h2>Advantages and Applications of 5G Technology</h2>

Modern communication networks must be able to ensure specific requirements. In the fifth generation network there are three important dimensions to be considered:
<ul>
 <li>Number of connections – a 5G network provides up to a million connections for every .38 square miles, while of connections.
<li>Latency – this is the response time of a system, it is important to reduce the latency time. 5G technology can reduce the latency up to 1ms vs 40ms of 4G networks.
<li>Throughput – this is the transmission capacity of a communication channel. 5G will allow the transmission of billions of bits vs thousands of bits allowed by 4G networks.
<li>IoT Internet of Things – 5G will offer a better support to the growing number of personal devices (like wearable technologies) and IoT devices that need to be connected to a network.
                </ul>
                
               
                
                
                   </h4><a href="#header" class="btn btn-primary btn-xl page-scroll">Back Home#</a></h4>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
