<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">The Ransomware Virus!</h1>
                         <h2><font color="red">Genesis of Ransomware Attacks</font></h2>
	  <h2>What is Ransomware</H2>

<p>Ransomware is a kind of malicious software that, as its name implies, takes a computer hostage and holds it for ransom.<br> In this case, the attackers are asking for at least $300 in bitcoins for each computer affected by the attack.
With ransomware attacks, the malware locks down a target machine, encrypting its data and preventing the owner from accessing it until he or she agrees to pay up.
<br>Ransomware is a type of malware that locks your computer screen and prevents you from accessing your files until you pay a certain fee or “ransom”, which involves handing your password or your money to the anonymous attacker. 
	    In the past, ransomware was designed to shut your systems down by locking computer screens with a warning message that demands payment. <br>They've been around for a long time, and have taken a number of different forms, but just like any other successful endeavor, ransomware has also evolved into a number of newer, more dangerous variant
:</p>

        <pre><h2>what group of Hacking attacks is it? </h2>
    Ransomware is a type of malware that prevents the normal access to a system or files, 
    unless the victim pays a ransom and this group of hacking attack is cyber attack, 
    Symantec says it is "confident" the WannaCry ransomware is connected to the Lazarus 
    cybercrime organisation, said to be responsible for the Sony Pictures hack and the 
    theft of millions of dollar from the Bangladesh Central Bank,  and has links to North Korea
    </pre>
<h2>General Guiding Principles of Hackers</h2>
    <p>Hackers are diverse and complex, with many different interests and passions. 
	    These rules are in place to server their interests while participating in illegal activities<br>
To me the general guiding principles oh hackers is   a core requirement of information security for the safe utilization, flow, and storage of information is the CIA triad. CIA stands for confidentiality, integrity, and availability and these are the three main objectives of information security where hackers must abide to  
 </p>

    <h2>The General Technical Aspects of Ransomware</h2>

    <p>The software is normally contained within an attachment to an email that masquerades as something innocent.<br> 
	    Once opened it encrypts the hard drive, making it impossible to access or retrieve anything stored on there – <br>
	    such as photographs, documents or music Ransomware sometimes come in the form of a fake antivirus installer, 
	    and have been relying on social engineering tricks to lure or scare users into clicking on links or 
	    giving their account credentials. A person may unwittingly download and install ransomware <br>
	    by opening an infected file from a malicious email or website. The nature of a ransomware attack largely
	    depends on the motives of the attacker. Essentially, the attacker creates a code designed to take over a
	    computer and hijack files. Once executed in the system, the ransomware can either lock the computer screen or 
	    encrypt predetermined files.
</p>

    <h2>Other Related examples of Attacks</h2>

    <p><h4><b>Talk Talk. </b></h4></p>

    <div class="highlight">
<pre>This is one of the most devastating hacking attack in British history, 
with more than 157,000 customers records stolen by the hackers. 
The records include personal details such as bank account numbers, sort codes, credit and debit card numbers.
This attack on Talk Talk website happened on 21st of October and it is believed that teenagers are behind this devastating attack. 
the company suffered £35 Million in losses as the result of malicious users exploiting a SQL Injection vulnerability. 
</pre>
    </div>

    <p><h4>Stuxnet (2010)</h4></p>

    <div class="highlight">
<pre>
Still the most famous cyberweapon in history because it was the first to be thoroughly documented,
Stuxnet was a shock to the security industry when discovered in 2010. Immediately,
researchers knew this was different. It targeted industrial SCADA systems,
made use of four different zero days and its design included odd elements 
such as the wormlike ability to spread on USB drives.
</pre>
    </div>

    <p><h4>Machine Learning enabled attacks</h4></p>

    <div class="highlight">
<pre>
Machine Learning enabled attacks- It looks like the technology of Artificial Intelligence seems 
to be serving both the good and bad people. According to a recent Intel Security report, 
machine learning is being used to launch social engineering attacks. Like, if hackers gain access to publicly available data,
they can use complex analysis tools to pick targets more precisely and with a greater level of success.
For example, in the UK, hackers are gaining access to databases related to tax filing to launch ransomware related attacks 
on individuals who have filed for the highest IT returns. 
This proves that the data available on public platforms can be used to launch attacks on individuals for minting money.
</pre>
    </div>
   
       <h2>Ethical Aspects related to this Attack</h2>

    <p>The attack is both wright and wrong depending on some circumstances i.e.
	    on the side of the hackers it could be an income generating activity 
	    where they create an attack and  again create a solution more so Ethical hackers,” or “white hat hackers” <br>
	    are those who try to compromise computer systems for the sake of informing the content owner so they can
	    fix the problem. Some security professionals do this for a living, <br>
	    so there is no ethical issue, since the target company is aware of and is paying for this service.
On the other hand, some security enthusiasts are freelancing white hat hackers. 
	   These people penetrate software and websites and publish the problem and sometimes the solutions to the problems. Sometimes these white hat hackers send this information privately to the creator, and sometimes they publish the hack publicly. Software companies and website owners are often upset about people penetrating their systems, no matter what their intentions.
  </p>
<h2>Mitigation aspects Organisations can Adopt</h2>
    <ul>
      <li>Scrutinize emails before opening them </li>
      <li>Avoid clicking embedded links found in unverified emails</li>
      <li>Back up your important files</li>
      <li>Regularly update software, programs, applications</li>
      <li>Put strong technologies in place to prevent and detect threats.  </li>
      <li>Educate the workforce.  </li>
      <li>Make sure IT, security and other staff or partners are trained in prevention, detection and </li>

    </ul>
<h2>General outlook or impact of such an Attacks</h2>

 <ul>
      <li>Financial loss </li>
      <li>Reputational damage</li>
      <li>Legal consequences</li>
      <li>Transactions and rders delayedli>
      <li>Organisations record history unavailable  </li>
      <li>Information inaccessible.   </li>
  
</ul>
  
                
                
                
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
