<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><font color="">CS 506 Contemporary Issues in Computing
                </h1>
                 <h4>Mwanje Derrick May17/Comp/004U  @UTAMU</h4>
                         
            <hr>
            <p><font color=""><h3>This Blog is used for Contemporary Issues in Computing especially hosting Articles of trending topics in the world of computing!</font></p>
            </h3><a href="#about" class="btn btn-primary btn-xl page-scroll">Trending#</a>
        </div>
    </div>
</header>
