
<section id="mobile_computing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">Mobile Computing & IoT</h1>
                         <h1><font color="brown">mobile computing </font></h1>
              
 <h4> What is the mobile? </h4>  That someone /something can move or be moved easily and quickly from place to place 
<h4>What is mobile computing?</h4> 
 Users with portable computers still have network connections while they move<br>
In my own perspective Mobile Computing Mobile Computing is an umbrella term used to describe technologies that enable people to access network services anyplace, anytime, and anywhere. 
 <br>Refers to technology that can support voice and/or data network connectivity using wireless, via a radio transmission solution
<h2>Simple Comparison to Wired networks</h2>
<h3>Wired networks</h3>
    <ul>
<li>high bandwidth
<li>	low bandwidth variability 
<li>	can listen on wire 
<li>high power machines 
<li>high resource machines 
<li>	need physical access(security) 
<li>low delay 
<li>connected operation 
        </ul>
<h3>Mobile Networks</h3>
    <ul>
<li>low bandwidth
<li>high bandwidth variability
<li>hidden terminal problem 
<li>low power machines
<li>low resource machines 
<li>need proximity
<li>higher delay 
<li>disconnected operation 
</ul>
   <h1> <font color="brown"> Internet of Things (IoT)</font> </h1>
           
    <b>The Internet of Things (IoT)</b> is the network of physical objects—devices, vehicles, buildings and other items embedded with electronics, software, sensors, and network connectivity that enables these objects to collect and exchange data (-Wikipedia)
<br>The Term “Internet of things” has come to describe a number of thechnologies and research disciplines that enable internet to reach out the real world of physical obejects (-IoT 2008)
Internet connects all people, so it it is called “The Internet of People” and IoT connects all things, so it is called “the Internet of Things”
<br><b>Internet of things from my engineering perspective would be a case where sensors and actuators are embedded in objects or things which are connected together via wired or wireless means to the internet</b>
                <br><br>In article by Ashton published in the RFID Journal in 1999 said, “If we had computers that knew everything there was to know about things - using data they gathered without any help from us - we would be able to track and count everything, and greatly reduce waste, loss and cost. 
We would know when things needed replacing, repairing or recalling, and whether they were fresh or past their best. We need to empower computers with their own means of gathering information, so they can see, hear and smell the world for themselves, in all its random glory.” This is precisely what IoT platforms do for us. It enables devices/objects to observe, identify and understand a situation or the surroundings without being dependent on human help.
<h2>Driving Forces of IoT</h2>
    <ul>
<li>Sensor Technology – Tiny, Cheap, Variety
<li>Cheap Miniature Computers
<li>Low Power Connectivity
<li>Capable Mobile Devices
<li>Power of the Cloud
</ul>
                <h3> Current State of these Trends in Uganda</h3>
At least 52.3 per cent of Ugandans have access to mobile phones, according to the Uganda Communications Commission 2014 Access and usage of communication services across Uganda study, released last week. 
The above growth, according to the report, translates into more than 19.5 million Ugandans connected to different mobile telecommunications networks. 
MTN and Airtel have the biggest share with more than 17 million users split between them
        <br>The study indicates that mobile computing escpeciall portable device and phone accessibility in Uganda has been on a trajectory growth, increasing to 20.7 per cent in 2008 and 46.7 per cent before growing to 52.3 per cent in 2014.
The above data, according to analysts, show that Uganda is on the path to maximum tele-density penetration with an annual growth of about 20 per cent.         
               <h3> Why mobile services are growing fast in Uganda</h3>
One of the reasons is of course that the country has invested heavily in communication networks, even connecting remote rural villages with fibre optic cables and thereby connecting them to a world of information.
<br><br>As much as 65% of the adults in Uganda owns a cell phone, which has allowed many areas in the country to skip the landline stage of development and jump right to the digital age.
              <p>  For those who hasn’t electricity at home, there are plentiful of charging booths for mobiles all over the country   
               </p>
                <h3> Some opportunities these Trends can Avail Uganda and example beneficiaries</h3>
      The Ministry of Information Communication Technology and National Guidance and the National Information Technology Authority Uganda (NITA-U) commenced the complimentary scheme in Kampala central business district and parts of Entebbe, effective 1 October 2016.
Free WiFi services are available between 6:00pm and 6:00am on weekdays and between 3:00pm Saturday through to 6:00am Monday.
    <p>      More so emergency of Mobile Computing contributes to enhancemnet of diffrent API technologies and Utilities such as

<ul>
      <li> Airtel Money
<li>My MTN
<li>NWSC Mobile
<li>Pay DStv Uganda
<li>Umeme Mobile
<li>Smile Top Up 
  <liAsk URA
<liNSSF GO
<liUganda PAYE Calculator</ul>
   <ul>
  <li>  Health
<li>Ugandan Games Apps
<li>Ugandan Entertainment Apps
<li>Ugandan News, Newspapers, Blogs Apps
<li>Ugandan Radio Stations Apps
  <li>  Ugandan Online Shopping/Market place Apps
    <li>Ugandan Banking & Payments Apps
    <li>Ugandan TV Apps
</ul>
    <h3>The Internet of Things : Is Uganda Ready?</h3>
    <h4>The Need:</h4>
Personally, I would love to control my environment without controlling it, for example if my shoe would be able detect that my feet need to be warm and act accordingly, more so if a billboard display ad that am interested in. I know this might be futuristic but wouldn’t you love that.
<br>
Going back to Uganda, the economy is spending a lot of money in different sectors, what if we knew when to irrigate our crops or what epidermic was breaking out in western Uganda, what if you walked into KFC and the waitress knew what wings you want to eat before you told her, the possibilities here would be numerous and would save the country and people a lot of time and we would love it.
          
   <h4> The Steps we can take:</h4>

I will not try to speculate what the government can do in this scenario, but we need to support engineers who are trying to create some of these devices. We should also have incubation spaces that are helping innovators in this space. The tech Giants like Apple and Google and other consumer giants like Nike are leading the innovation around IoT but they don’t know Uganda the way you do.
    </p>        
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
