
<section id="mobile_computing">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">Mobile Computing & IoT</h1>
                         <h1><font color="brown">mobile computing </font></h1>
              
 <h4> What is the mobile? </h4>  That someone /something can move or be moved easily and quickly from place to place 
<h4>What is mobile computing?<h4> 
 Users with portable computers still have network connections while they move<br>
In my own perspective Mobile Computing Mobile Computing is an umbrella term used to describe technologies that enable people to access network services anyplace, anytime, and anywhere. 
 <br>Refers to technology that can support voice and/or data network connectivity using wireless, via a radio transmission solution
<h2>Simple Comparison to Wired networks</h2>
<h3>Wired networks</h3>
    <ul>
<li>high bandwidth
<li>	low bandwidth variability 
<li>	can listen on wire 
<li>high power machines 
<li>high resource machines 
<li>	need physical access(security) 
<li>low delay 
<li>connected operation 
        </ul>
<h3>Mobile Networks</h3>
    <ul>
<li>low bandwidth
<li>high bandwidth variability
<li>hidden terminal problem 
<li>low power machines
<li>low resource machines 
<li>need proximity
<li>higher delay 
<li>disconnected operation 
</ul>
   <h1> <font color="brown"> Internet of Things (IoT)</font> </h1>
           
    <b>The Internet of Things (IoT)</b> is the network of physical objects—devices, vehicles, buildings and other items embedded with electronics, software, sensors, and network connectivity that enables these objects to collect and exchange data (-Wikipedia)
<br>The Term “Internet of things” has come to describe a number of thechnologies and research disciplines that enable internet to reach out the real world of physical obejects (-IoT 2008)
Internet connects all people, so it it is called “The Internet of People” and IoT connects all things, so it is called “the Internet of Things”
<br><br>In article by Ashton published in the RFID Journal in 1999 said, “If we had computers that knew everything there was to know about things - using data they gathered without any help from us - we would be able to track and count everything, and greatly reduce waste, loss and cost. 
We would know when things needed replacing, repairing or recalling, and whether they were fresh or past their best. We need to empower computers with their own means of gathering information, so they can see, hear and smell the world for themselves, in all its random glory.” This is precisely what IoT platforms do for us. It enables devices/objects to observe, identify and understand a situation or the surroundings without being dependent on human help.
<h2>Driving Forces of IoT</h2>
    <ul>
<li>Sensor Technology – Tiny, Cheap, Variety
<li>Cheap Miniature Computers
<li>Low Power Connectivity
<li>Capable Mobile Devices
<li>Power of the Cloud
</ul>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
