<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
              
               <center><h1> <font colore="red">Modeling an API Endpoint</font></h1></center>
                
               <h3> HOW I WOULD BIULD AN API FOR UTAMU<h3>
Since the API specification will be implemented in swaggerHub, 
 <ul><li>I would start with creating a swag hub account or since I have a gihtub account I will use github to login to Swaggerhub 
<li>I will choose the free plan which, suits best personal accounts.
<li>I will go to the sidebar on the left, click  and select Create New API
<li>A  dialog where you need to enter the API information will appear
<li>Fill the API information and Select none template, and enter the API name
<li>Then click create API
</ul>
                
            </div>
        </div>
    </div>
</section>
