<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
              
               <h1> <font color="brown">Modeling an API Endpoint</font></h1>
      
                An API is an application programming Interface that allows one piece of software to make use of the functionality of, or data available to, another, providing a consistent, programmatic method for accessing a resource.
                <h3>Popular API Examples</h3>
                <ul>
              <li> Google Maps API: Google Maps APIs lets developers embed Google Maps on webpages using a JavaScript or Flash interface. The Google Maps API is designed to work on mobile devices and desktop browsers.
<li>YouTube APIs: YouTube API: Google's APIs lets developers integrate YouTube videos and functionality into websites or applications. YouTube APIs include the YouTube Analytics API, YouTube Data API, YouTube Live Streaming API, YouTube Player APIs and others.
<li> Flickr API: The Flickr API is used by developers to access the Flick photo sharing community data. The Flickr API consists of a set of callable methods, and some API endpoints.
<li> Twitter APIs: Twitter offers two APIs. The REST API allows developers to access core Twitter data and the Search API provides methods for developers to interact with Twitter Search and trends data.
<li>Amazon Product Advertising API: Amazon's Product Advertising API gives developers access to Amazon's product selection and discovery functionality to advertise Amazon products to monetize a website.
</ul>
   <h4> This Explains how the API for UTAMU Results Querry was Modled;</h4>
                
            </div>
        </div>
    </div>
</section>
