
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                                       <h1> <font color="brown">Modeling an API Endpoint</font></h1>
      
                An API is an application programming Interface that allows one piece of software to make use of the functionality of, or data available to, another, providing a consistent, programmatic method for accessing a resource.
                <h3>Popular API Examples</h3>
                <ul>
              <li> Google Maps API: Google Maps APIs lets developers embed Google Maps on webpages using a JavaScript or Flash interface. The Google Maps API is designed to work on mobile devices and desktop browsers.
<li>YouTube APIs: YouTube API: Google's APIs lets developers integrate YouTube videos and functionality into websites or applications. YouTube APIs include the YouTube Analytics API, YouTube Data API, YouTube Live Streaming API, YouTube Player APIs and others.
<li> Flickr API: The Flickr API is used by developers to access the Flick photo sharing community data. The Flickr API consists of a set of callable methods, and some API endpoints.
<li> Twitter APIs: Twitter offers two APIs. The REST API allows developers to access core Twitter data and the Search API provides methods for developers to interact with Twitter Search and trends data.
<li>Amazon Product Advertising API: Amazon's Product Advertising API gives developers access to Amazon's product selection and discovery functionality to advertise Amazon products to monetize a website.
</ul>
   <h4> This Explains how the API for UTAMU Results Querry was Modled;</h4>
        
          <p>      Decide the Style of the API
While designing an API, one of the first things to consider is creating a style guide. <br>This serve as a set of rules and best practices for creating controllers, defining routes, and other aspects of the API. It also provide answers to the big questions such as serialization of entities, mapping Data Transfer Objects (DTOs) if needed, repositories, domain services, database/entity validation, DTO validation, and any third party technologies used, it’s maintained regularly and referred back to when needed.
<p>Defining operations in terms of HTTP methods</p>
The HTTP protocol defines a number of methods that assign semantic meaning to a request. 
                <h5>The common HTTP methods used by most RESTful web APIs are:</h5>

          <ul>
  	<li>GET:  
To retrieve a copy of the resource at the specified URI. The body of the response message contains the details of the requested resource.
<li>POST:
To create a new resource at the specified URI. The body of the request message provides the details of the new resource. Note that POST can also be used to trigger operations that don't actually create resources.
    <li>PUT:
To replace or update the resource at the specified URI. The body of the request message specifies the resource to be modified and the values to be applied.
•	<li>DELETE:
To remove the resource at the specified URI.
</p>
                </ul>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
