

<section id="privacy">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h1 class="section-heading">Ethics and Privacy!</h1>
                         <h2><font color="red">Privacy and Ethical Issue in Computing </font></h2>
              
   Computer ethics are morally acceptable use of computers i.e. using computers appropriately, Standards or guidelines are important in this industry, because technology changes are outstripping the legal system’s ability to keep up
    <br><h2>Four primary issues</h2>
                <ul>
<li><b>Privacy</b> – responsibility to protect data about individuals
<li><b>Accuracy</b> - responsibility of data collectors to authenticate information and ensure its  accuracy
<li><b>Property</b> - who owns information and software and how can they be sold and exchanged
<li><b>Access</b> - responsibility of data collectors to control access and determine what information a person has the right to obtain about others and how the information can be used
</ul>
         
                <h2>Copyright Laws</h2>
                <ul>
<li>Software developers (or the companies they work for) own their programs.
<li>Software buyers only own the right to use the software according to the license agreement.
<li>No copying, reselling, lending, renting, leasing, or distributing is legal without the software owner’s permission.
                    </ul>
<h2>Software Licenses</h2>
Research shows that there are four types of software licenses:
                <ul>
<li><b>Public Domain</b>- Public domain software has no owner and is not protected by copyright law.
<li><b>Freeware Freeware</b>- is copyrighted software that is licensed to be copied and distributed without charge. 
<li><b>Shareware</b>- A shareware software license allows you to use the software for a trial period, but you must pay a registration fee to the owner for permanent use.
<li><b>All Rights Reserved</b>- May be used by the purchaser according the exact details spelled out in the license agreement, You can’t legally use it--or even possess it-- without the owner’s permission.	
        </ul>
         <h2> Computer Ethics for Computer Professionals</h2>
                <ul>
<li>Competence– Professionals keep up with the latest knowledge in their field and perform services only in their area of competence.
<li>Responsibility– Professionals are loyal to their clients or employees, and they won’t disclose confidential information.
<li>Integrity– Professionals express their opinions based on facts, and they are impartial in their judgments.
                    </ul>
<h2>The ACM Code of Conduct</h2>
According to the Association for Computing Machinery (ACM) code, a computing professional:
                <ul>
<li>Contributes to society and human well-being
<li>Avoids harm to others
<li>Is honest and trustworthy
<li>Is fair and takes action not to discriminate 
<li>Honors property rights, including copyrights and patents
<li>Gives proper credit when using the intellectual property of others
<li>Respects other individuals’ rights to privacy
<li>Honors confidentiality
</ul>
             <h2>  Uganda Police to enforce Cyber Law & fight cybercrimes</h2>
<h5>By Edris Kisambira....</h5>
Computer crime, cyber crime, hi-tech crime or electronic crime generally refers to criminal activity where a computer or network is the source, tool, target, or place of a crime. This sort of crime is increasing in Uganda and many people have been defrauded. Edris Kisambira spoke to the deputy director Criminal Investigations Department (CID) Police, Mr. Moses Sakira and below are excerpts.
<b>QN:</b>Cyber crime is known to be thriving in the developed world where there is a lot of e-commerce but we now know that it is also happening in Uganda, what form is it taking from the Police’s perspective?
<br><b>ANS:</b>There is hacking into Internet networks of especially importers of goods from places like Dubai, China and Japan. The unsuspecting business people usually get to discover when either there money has been stolen or the goods they ordered from Europe, China, Japan or Dubai have been diverted to somewhere else. There are also Ugandans who are using the Internet to push through forged travellers’ cheques, which they use to purchase goods from unsuspecting business people in Europe, Dubai, China and Japan. What has happened is that manufacturers or traders outside Uganda dispatch goods based on the forged travellers’ cheques as confirmation
for payment only to discover they cannot cash the cheques – now these are Ugandans defrauding foreign business people.
Ugandans are also in the habit of forging ministry tender documents claiming they have secured large contracts; and when these unsuspecting foreigners send the goods to Uganda, the culprits receive the goods and cut all communication links. Cases have also been reported where money is way-laid by cyber criminals who hack into people’s email accounts; they impersonate the real owners of such email addresses, convince the senders of the money that they have changed bank accounts and in the process, such money gets diverted. People are also defrauded on cell phones but the problem with that is people are reluctant to report to Police.

                
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
