<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h1 class="section-heading">Data Science and Cloud Computing</h1>
                <hr class="primary">
            </div>
            <h2>Data Science</h2> 
            <b>Data Science</b> is the extraction of actionable knowledge directly from data through a process of discovery, hypothesis, and analytical hypothesis analysis.
<br><b>A Data Scientist</b> is a practitioner who has sufficient knowledge of the overlapping regimes of expertise in business needs, domain knowledge, analytical skills and programming expertise to manage the end-to-end scientific method process through each stage in the big data lifecycle.
<h2>Cloud Computing </h2>
 <b> Cloud Computing</b> is a general term used to describe a new class of network based computing that takes place over the Internet, 
<p>A collection/group of integrated and networked hardware, software and Internet infrastructure (called a platform).
</p
    <p>These platforms hide the complexity and details of the underlying infrastructure from users and applications by providing very simple graphical interface or API (Applications Programming Interface).
	In addition, the platform provides on demand services, that are always on, anywhere, anytime and any place. 
</p>
          <h3>	A number of characteristics define cloud data, applications services and infrastructure:</h3>
              <ul>
<li><b>Remotely hosted:</b> Services or data are hosted on remote infrastructure. 
<li><b>Ubiquitous: </b>Services or data are available from anywhere.
<li><b>Commodified: </b>The result is a utility computing model similar to traditional that of traditional utilities, like gas and electricity - you pay for what you would want!
<ul>
       <h3>Bellow are Some Cloud Computing Platforms:</h3>
	</div>
	
    </div>
		
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Amazon Web Services</h3>
                    <p class="text-muted">AWS continued its lead with constant innovation and enhancements to the platform.
		       AWS now has over 30 services spanning from basic compute to real-time data ingestion.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Google Cloud storage</h3>
                    <p class="text-muted">After a lull, Google made a splash at Google I/O by announcing the PHP support for App Engine and opening up the Compute Engine beta to the public</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3> Windows Azure Infrastructure Services</h3>
                    <p class="text-muted">WAIS supports major flavors of Linux, including CentOS, Ubuntu and SUSE along with the latest version of Microsoft Windows Server.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dropbox</h3>
                    <p class="text-muted">Dropbox lets you take your photos, docs, and videos anywhere and share them easily. Access any file you save to your Dropbox from all of your computers,!</p>
             
		    </div>
		            </div>
		vv
        </div>
	    <p>Uganda, often referred to as the “Pearl of Africa” is a land-locked country on the northern shores of Lake Victoria. The equator runs across the southern part of the country. Uganda is most famous for being the source of the River Nile, and the home of the greatly endangered mountain gorilla
With reference to Uganda, Data science and computing</p>
	 <h3>  Where & how can Uganda Benefit from these two Technologies?</h3>
<h4>Data science can be useful in Uganda for.......<h4>
	<ul>
	
<li><b>Intelligence gathering</b>, in order to combine different and possibly unconventional sources of data in order to create insights for decision making for instance in security and crime intelligence;
<li><b>compensating for a lack of human experts,</b> for example in diagnosis of disease, since Uganda has limited resources increase human labor data science can solve the issue ;
<li><b>choosing how to allocate resources</b> or to increase efficiency of government resources ie high corruption rates in Uganda during resource allocation, if data science is employed in place can cub the issue
<li><b>Kampala is known for huge traffic flow,</b> data science can help improve on traffic management by doing  analysis of traffic patterns in the cities
	</ul>
<p>NITA-U (National Information Technology Authority) has been driving the initiative in Uganda and said that the technology would provide more affordability, security, features and accessibility of information across a number of Internet-enabled devices.
James Saaka, executive director of NITA-U, said, “The technology supports infrastructure sharing and access to information, which is a key to development.
“Once this is implemented, any citizen can access information about the government and departments at any given time.”
Sector experts have said that as the government moved into e-governence, it could do away with paperwork, which was riskier than other modes of information storage.
  </p>
	<h3>Are Ugandans  skilled enough?</h3>
<h4>Required skills of implementing data scince</h4>
	<ul>
<li>Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.
<li>Experience with common data science toolkits, such as R, Weka, NumPy, MatLab, etc {{depending on specific project requirements
<li>Experience with data visualisation tools, such as D3.js, GGplot, etc.
<li>Proficiency in using query languages such as SQL, Hive, Pig {{actual list depends on what you are currently using in your company}}
<li>Experience with NoSQL databases, such as MongoDB, Cassandra, HBase 
<li>Good applied statistics skills, such as distributions, statistical testing, regression, etc.
<li>Good scripting and programming skills 
<li>Data-oriented personality
	</ul>
Observation Suvey done in higher intuitions of learning in Uganda indicated that most universities in Uganda lack the above expertise, who would have been the driver of the trending data science issue 

	<h3>Status of Uganda in these Technologies, How far are we? </h3>
	<p>Sector experts have said that as the government moved into e-governance, it could do away with paperwork, which was riskier than other modes of information storage.
It remained unclear how much the service would cost, but other state departments such as Uganda’s Revenue Authority have already implemented cloud computing. The department launched an e-tax system for tax payers to make use of the Internet to apply for any type of license.
The MTN Group in Uganda is piloting the cloud computing service targeting SMEs in the country. 
The government will, however, prepare for a series of risk factors that have been identified. Crispus Ombogo, partner systems engineer for sales at Cisco Systems Management, warned that the Ugandan government needed a better online security and development of its Internet infrastructure for the success of the cloud computing technology
</p>
	<B>What can work here in the future based on these technologies
“A poor backbone infrastructure cannot support this solution,” Ombogo said, more bandwidth is required</b>

	</div>
		
</section>
